body{
    background-color: slategray;
    color: snow;
}

#addTask{
    margin: 10px
}

button{
    margin: 10px
}

.color1{
    background-color: rgb(4, 4, 5)
}

.color2{
    background-color: rgb(50, 50, 61)
}

.color3{
    background-color: rgb(81, 81, 99)
}

.color4{
    background-color: rgb(110, 110, 134);
    color: rgb(156, 156, 189)
}

td, th{
    text-align: center;
    padding: 7px
}